@mixin onlylarge($w){
    @media only screen and (max-width: $w){
        @content
    }
}


/*container projects*/

.projects{
    padding-top: 192px;
    padding-bottom: 192px;
    margin: 0 auto;
    @include onlylarge(768px){padding-top: 96px; padding-bottom: 96px}


    .projects-description{
        text-align: center;
        width: 592px;
        margin: 0 auto;
        @include onlylarge(600px){width: auto}
        @include onlylarge(440px){text-align: center;}

        .projects-btns{
            @include onlylarge(450px){display: none;}
        }

        h2{
            font-weight: 600;
            font-size: 48px;
            line-height: 125%;
            letter-spacing: -0.02em;
            color: #101828;
            @include onlylarge(768px){font-size: 32px}
        }
        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #667085;
            padding-top: 16px;
            padding-bottom: 48px;
            @include onlylarge(768px){font-size: 14px}
        }
        .projecs-btn{
            justify-content: center;
            /*eror*/
            .projects-btn-text{
                font-weight: 600;
                font-size: 14px;
                line-height: 143%;
                color: #344054;
            }
        }
    }

    .projects-items{
        padding-top: 48px;
        padding-bottom: 64px;
        display: grid;
        grid-template-columns: 592px 592px;
        column-gap: 32px;
        grid-template-rows: 614px 614px;
        row-gap: 64px;

        @include onlylarge(1290px){
            grid-template-columns: 49% 49%;
            column-gap: 2%;
            row-gap: 32px;
            grid-template-rows: auto;
        }
        @include onlylarge(768px){grid-template-rows: auto; row-gap: 32px;}
        @include onlylarge(480px){
            grid-template-columns: 90%; 
            justify-content: center; 
            grid-template-rows: auto; 
            row-gap: 24px;
        }

        img{
            max-width: 100%;
        }

        .btn-type1{
            padding-top: 26px;
            padding-bottom: 14px;
            display: flex;

            .btn1{
                font-weight: 500;
                font-size: 14px;
                line-height: 143%;
                color: #DC6803;
                border: 1px solid #FEDF89;
                border-radius: 16px;
                padding: 2px 10px;
                width: 94px;
                background-color: #fffaeb;
            }
            .btn2{
                font-weight: 500;
                font-size: 14px;
                line-height: 143%;
                color: #079455;
                margin-left: 8px;
                margin-right: 8px;
                border: 1px solid #A9EFC5;
                border-radius: 16px;
                padding: 2px 10px;
                width: 65px;
                background-color: #ecfdf3;
            }
            .btn3{
                font-weight: 500;
                font-size: 14px;
                line-height: 143%;
                color: #475467;
                border: 1px solid #EAECF0;
                border-radius: 16px;
                padding: 2px 10px;
                width: 51px;
                background-color: #f9fafb;
            }
        }
        .btn-type2{
            padding-top: 26px;
            padding-bottom: 14px;
            display: flex;

            .btn1{
                font-weight: 500;
                font-size: 14px;
                line-height: 143%;
                color: #306ED4;
                border: 1px solid #B1CDFB;
                border-radius: 12px;
                padding: 2px 10px;
                width: 54px;
                background-color: #ebf2fe;
            }
            .btn2{
                margin-left: 8px;
                margin-right: 8px;
                font-weight: 500;
                font-size: 14px;
                line-height: 143%;
                color: #D92D20;
                border: 1px solid #FECDC9;
                border-radius: 16px;
                padding: 2px 10px;
                width: 49px;
                background-color: #fef3f2;
            }
            .btn3{
                font-weight: 500;
                font-size: 14px;
                line-height: 143%;
                color: #079455;
                border: 1px solid #A9EFC5;
                border-radius: 16px;
                padding: 2px 10px;
                width: 65px;
                background-color: #ecfdf3;
            }
        }
        h4{
            font-weight: 600;
            font-size: 20px;
            line-height: 150%;
            letter-spacing: -0.02em;
            color: #101828;
            @include onlylarge(768px){font-size: 18px}
        }
        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #667085;
            @include onlylarge(768px){font-size: 14px}
        }
    }
    .projects-btn{
        text-align: center;
        cursor: pointer;
        
        a{
        font-weight: 600;
        font-size: 18px;
        line-height: 156%;

        span{
            margin-left: 15px;
        }
    }
    }
}


/*Container technologies*/

.container-technologies{
    background-color: #F9FAFB;
    padding-top: 128px;
    padding-bottom: 128px;
    border-bottom: 1px solid #eaecf0;
    border-top: 1px solid #eaecf0;
    @include onlylarge(768px){padding-top: 64px; padding-bottom: 64px;}
    @include onlylarge(390px){padding-top: 48px; padding-bottom: 48px;}

    .technologies-description{
        width: 592px;
        margin: 0 auto;
        text-align: center;
        @include onlylarge(620px){width: auto;}

        .projects-btn{
            @include onlylarge(450px){display: none;}
        }

        h2{
            font-weight: 600;
            font-size: 48px;
            line-height: 125%;
            letter-spacing: -0.02em;
            color: #101828;
            margin-bottom: 16px;
            @include onlylarge(768px){font-size: 32px;}
            @include onlylarge(390px){font-size: 24px;}
        }
        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #667085;
            margin-bottom: 48px;
            @include onlylarge(768px){margin-bottom: 40px; font-size: 14px;}
            @include onlylarge(390px){margin-bottom: 32px;}
        }
    }

    .technologies-items{
        padding-top: 48px;
        display: grid;
        grid-template-columns: repeat(6, 182px);
        justify-content: center;
        column-gap: 24px;
        row-gap: 24px;
        @include onlylarge(1390px){grid-template-columns: repeat(6, 15%); column-gap: 2%}
        @include onlylarge(768px){grid-template-columns: repeat(4, 24%); column-gap: 3%; padding-top: 40px;}
        @include onlylarge(390px){grid-template-columns: repeat(3, 32%); column-gap: 2%; padding-top: 32px;}

        div{
            text-align: center;
            border: 1px solid var(--gray-200);
            border-radius: 10px;
            background-color: #FFFFFF;

            img{
                max-width: 100%;
                padding-top: 32px;
                padding-bottom: 20px;
            }
            p{
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                color: #101828;
                padding-bottom: 24px;
                @include onlylarge(390px){font-size: 12px;}
            }
        }
    }
}


/*Container Team*/
.container-team{
    padding-top: 192px;
    padding-bottom: 192px;
    background: url(../images/team-background.png);

    @include onlylarge(768px){padding-top: 96px; padding-bottom: 96px;}

    .team-description{
        text-align: center;

        h2{
            font-weight: 600;
            font-size: 48px;
            line-height: 125%;
            letter-spacing: -0.02em;
            color: #101828;
            padding-bottom: 16px;

            @include onlylarge(768px){font-size: 32px;}
        }
        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #667085;

            @include onlylarge(768px){font-size: 14px;}
        }
    }

    .team-items{
        padding-top: 48px;
        padding-bottom: 64px;
        display: grid;
        grid-template-columns: repeat(4, 24%);
        column-gap: 2%;
        row-gap: 24px;

        @include onlylarge(905px){
            grid-template-columns: 30% 30% 30%;
            justify-content: center;
            padding-top: 40px;
        }
        @include onlylarge(700px){
            grid-template-columns: 49% 49%;
        }

        @include onlylarge(700px){
            grid-template-columns: 100%;
        }

        .team-item1, .team-item2, .team-item3, .team-item4, .team-item5, .team-item6, .team-item7, .team-item8{
            border: 1px solid #eaecf0;
            border-radius: 12px;
            padding: 32px 24px;
            background-color: #fcfcfd;
            text-align: center;

            >img{
                margin-bottom: 20px;
            }

            h3{
                font-weight: 600;
                font-size: 20px;
                line-height: 150%;
                letter-spacing: -0.02em;
                color: #101828;

                @include onlylarge(768px){font-size: 18px;}
            }

            p{
                font-size: 16px;
                line-height: 150%;
                color: #667085;
                margin-bottom: 20px;
            }

            a{
                font-weight: 500;
                font-size: 16px;
                color: #3B82F6;
                text-decoration: none;

                img{
                    margin-left: 11px;
                }

                span{
                    @include onlylarge(720px){display: none;}
                }
            }
        }
    }

    .team-btn{
        text-align: center;

        span{
            margin-left: 15px;
        }
    }
}

/*Container clients*/

.container-clients{
    border-bottom: 1px solid #eaecf0;
    border-top: 1px solid #eaecf0;
    padding-top: 128px;
    padding-bottom: 128px;

    @include onlylarge(768px){padding-top: 64px; padding-bottom: 64px;}
    @include onlylarge(390px){padding-top: 48px; padding-bottom: 48px;}

    .clients-top{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2{
            font-weight: 600;
            font-size: 48px;
            line-height: 125%;
            letter-spacing: -0.02em;
            color: #101828;

            @include onlylarge(768px){font-size: 32px;}
            @include onlylarge(390px){font-size: 24px;}
        }

        .arrows{
            @include onlylarge(600px){display: none;}
        
            .left{
                margin-right: 12px;
            }
        }    
    }

    .clients-items{
        padding-top: 48px;
        display: flex;
        justify-content: space-between;

        @include onlylarge(768px){width: auto;
            overflow-y: scroll;}

        @include onlylarge(390px){padding-top: 34px;}
        

        .clients-item1, .clients-item2, .clients-item3{
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 12px;
            width: 384px;
            background: #fff;
            padding: 32px 24px 52px 24px;

            @include onlylarge(768px){margin-right: 24px; overflow: visible;}

            .client{
                display: flex;
                align-items: center;

                div{
                    margin-left: 16px;
                    h3{
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 150%;
                        color:#0c111d;
                    }
                    p{
                        font-size: 14px;
                        line-height: 143%;
                        color: #667085;
                    }
                }
            }

            .review{
                padding-top: 32px;

                p{
                    padding-top: 16px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 143%;
                    color: #667085;
                }
            }
        }
    }
}

/*Contact Us*/

.contact-us{
    padding-top: 192px;
    padding-bottom: 192px;
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;

    @include onlylarge(768px){padding-top: 96px;
        padding-bottom: 96px;
        grid-template-columns: 100%;}
    
    @include onlylarge(390px){padding-top: 64px;
            padding-bottom: 64px;}
    
    .contacts{
        @include onlylarge(768px){margin-bottom: 40px;}

        h2{
            padding-top: 32px;
            padding-bottom: 16px;
            font-weight: 600;
            font-size: 48px;
            line-height: 125%;
            letter-spacing: -0.02em;
            color: #101828;

            @include onlylarge(768px){font-size: 32px;}
            @include onlylarge(390px){font-size: 24px;}
        }

        p{
            font-size: 16px;
            line-height: 150%;
            color: #667085;
            padding-bottom: 48px;

            @include onlylarge(390px){font-size: 14px;}
        }

        a{
            font-size: 16px;
            line-height: 150%;
            color: #101828;
            margin-bottom: 24px;
            display: inline-block;
            width: 100%;
            height: 24px;
            text-decoration: none;

            @include onlylarge(390px){font-size: 14px;}

            img{
                margin-right: 19px;
            }
        }

        .social-links{
            margin-top: 24px;

            @include onlylarge(768px){display: none;}
        }
    }

    form{
        border: 1px solid #eaecf0;
        border-radius: 16px;    
        background: #f9fafb;
        padding: 32px;

        input{
            width: 100%;
        }

        textarea{
            width: 100%;
            height: 120px;
        }

        .name{
            display: flex;
            justify-content: space-between;
            @include onlylarge(390px){display: block;}
                div{ width: 47%;
                @include onlylarge(390px){width: 100%;}}
        }

        p{
            margin-bottom: 8px;
            margin-top: 24px;
            font-weight: 500;
            font-size: 14px;
            line-height: 143%;
            color: #101828;
        }

        .form-btn{
            margin-top: 24px;
            button{
                width: 100%;
            }
        }
    }
}

/*Footer*/

footer{
    border-top: 1px solid #eaecf0;
    background: #f9fafb;
    padding-top: 96px;
    padding-bottom: 96px;

    @include onlylarge(768px){padding-top: 48px; padding-bottom: 48px;}
    @include onlylarge(390px){padding-top: 32px; padding-bottom: 32px;}

    nav{
        display: flex;
        justify-content: space-between;
        padding-bottom: 32px;
        align-items: center;
        
        @include onlylarge(575px){align-items: normal;}

        ul{
            display: flex;
            flex-wrap: wrap;

            li{
                margin-right: 24px;

                a{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 143%;
                    color: #344054;
                    text-decoration: none;
                }
            }
        }

        .btn {
            border-radius: 8px;
            padding: 8px;
            background-color: #3B82F6;
            color: #fff;

            &:hover{
                border: solid 1px black;
            }
        }
    }
    img{
        max-width: 100%;
    }

    .footer-info{
        display: flex;
        justify-content: space-between;
        padding-top: 32px;
        align-items: center;
        flex-wrap: wrap;

        p{
            font-size: 14px;
            line-height: 143%;
            color: #667085;
            @include onlylarge(436px){padding-top: 24px;}
        }

    }
}




/*Projects pages*/

.projects-pages{
    padding-top: 124px;
    padding-bottom: 192px;
    @include onlylarge(768px){padding-top: 80px;
        padding-bottom: 96px;}

    .projects-btn{
        @include onlylarge(440px){display: none;}
    }
        
    .projects-items{
        @include onlylarge(440px){padding-top: 0;}
    }

    .pages-pagination{
        border-top: 1px solid #eaecf0;
        padding-top: 32px;
        ul{justify-content: center;}

        .previous {
            
            
            a{
                font-weight: 500;
                font-size: 14px;
                line-height: 143%;
                color: #98a2b3;
                background: none;
                border: none;
                img{margin-right: 10px;}
            }
        }

        .next{
            a{
                font-weight: 500;
                font-size: 14px;
                line-height: 143%;
                color: #344054;
                background: none;
                border: none;
                img{margin-left: 10px;}
            }
        }
    }
}




/*Project page*/

.container-first{

    .head-content{
        padding-top: 48px;
        padding-bottom: 48px;

        @include onlylarge(768px){padding-top: 32px; padding-bottom: 40px;}
        @include onlylarge(390px){padding-top: 24px; padding-bottom: 32px;}

        a{
            border-radius: 8px;
            border: 1px solid #d0d5dd;
            background: #fff;
            font-weight: 500;
            font-size: 14px;
            line-height: 143%;
            color: #344054;
            padding: 8px;
            text-decoration: none;

            img{
                margin-right: 10px;
            }
        }

        h2{
            padding-top: 40px;
            font-weight: 600;
            font-size: 48px;
            line-height: 125%;
            letter-spacing: -0.02em;
            color: #101828;

            @include onlylarge(768px) {padding-top: 20px; font-size: 32px;}
            @include onlylarge(390px) {font-size: 24px;}
        }
    }
    
}


.project-content{
    padding-bottom: 192px;
    padding-top: 48px;
    border-top: 1px solid #eaecf0;
    display: flex;
    justify-content: space-between;

    @include onlylarge(768px){padding-top: 0;}
    @include onlylarge(390px){padding-bottom: 64px;}

    menu{
        margin-left: 72px;
        @include onlylarge(768px){display: none}

        li{
            margin-bottom: 4px;
            width: 208px;
            height: 36px;
            
            a{
                font-weight: 600;
                font-size: 14px;
                line-height: 143%;
                color: #667085;
                text-decoration: none;
                padding-left: 12px;
                padding-top: 8px;
                padding-bottom: 8px;

                &:hover{
                    border-left: 2px solid #3b82f6;
                    color: #3b82f6;
                }
            }

        }
    }

    h3{
        font-weight: 600;
        font-size: 32px;
        line-height: 125%;
        letter-spacing: -0.02em;
        color: #101828;
        padding-top: 48px;

        @include onlylarge(768px){font-size: 24px; padding-top: 40px;}
        @include onlylarge(390px){font-size: 20px; padding-top: 32px;}
    }

    p{
        font-size: 16px;
        line-height: 150%;
        color: #475467;
        padding-top: 24px;
        padding-bottom: 48px;

        @include onlylarge(768px){font-size: 14px; padding-bottom: 40px}
        @include onlylarge(390px){font-size: 14px; padding-bottom: 32px}
    }

    h4{
        font-weight: 600;
        font-size: 24px;
        line-height: 133%;
        letter-spacing: -0.02em;
        color: #101828;

        @include onlylarge(768px){font-size: 20px}
        @include onlylarge(390px){font-size: 18px}
    }

    .main{
        border-bottom: 1px solid #eaecf0;
    }

    img{
        max-width: 100%;
        padding-bottom: 64px;
    }

    .results{
        border: 0;

        .statistic{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-top: 24px;


            .center-item{
                margin-left: 20px;
                margin-right: 20px;

                @include onlylarge(542px){margin-bottom: 16px;}
                @include onlylarge(390px){margin-left: 0px; margin-right: 0px;}
            }

            h4{
                font-weight: 600;
                font-size: 48px;
                line-height: 125%;
                letter-spacing: -0.02em;
                color: #101828;
                margin: 0;

                @include onlylarge(768px){font-size: 32px;}
                @include onlylarge(390px){font-size: 24px;}
            }

            p{
                font-size: 16px;
                line-height: 150%;
                color: #98a2b3;
                padding: 0;

                @include onlylarge(768px){font-size: 14px;}
                @include onlylarge(390px){font-size: 12px;}
            }
        }

        .results-items{
            display: grid;
            grid-template-columns: 23% 23% 23% 23%;
            column-gap: 2%;
            row-gap: 20px;
            padding-top: 24px;
            padding-bottom: 48px;

            @include onlylarge(768px){grid-template-columns: 31% 31% 31%;
                column-gap: 3%; padding-top: 24px; padding-bottom: 40px;}
            @include onlylarge(390px){grid-template-columns: 49% 49%;
                column-gap: 2%; padding-top: 16px; padding-bottom: 32px;}
            

            h6{
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                color: #182230;

                @include onlylarge(390px){font-size: 14px;}
            }

            p{
                font-size: 14px;
                line-height: 143%;
                color: #98a2b3;
                padding: 0;
            }
        }
    }
}



/*Team page*/

.team-page{
    padding-top: 124px;
    padding-bottom: 192px;
    background: none;
    @include onlylarge(768px){padding-top: 80px; padding-bottom: 96px;}
    @include onlylarge(390px){padding-top: 72px; padding-bottom: 64px;}
}


/*team member page*/

.member-links{
    padding-top: 48px;
    padding-bottom: 48px;
    border-bottom: 1px solid #eaecf0;

    .head-content{
        a{
            border-radius: 8px;
            border: 1px solid #d0d5dd;
            background: #fff;
            font-weight: 500;
            font-size: 14px;
            line-height: 143%;
            color: #344054;
            padding: 8px;
            text-decoration: none;

            img{
                margin-right: 10px;
            }
        }

        .member-head{
            display: flex;
            justify-content: space-between;
            padding-top: 40px;
            align-items: center;

            @include onlylarge(655px){display: block;}

            .member-info{
                display: flex;
                align-items: center;

                img{
                    margin-right: 24px;
                }

                h3{
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 125%;
                    letter-spacing: -0.02em;
                    color: #101828;

                    @include onlylarge(768px){font-size: 24px;}
                    @include onlylarge(390px){font-size: 20px;}
                }

                p{
                    font-size: 18px;
                    line-height: 156%;
                    color: #475467;

                    @include onlylarge(768px){font-size: 16px;}
                    @include onlylarge(390px){font-size: 14px;}
                }
            }

            .member-cont{
                display: flex;
                @include onlylarge(655px){margin-top: 20px;}

                .text{
                    margin-right: 16px;

                    @include onlylarge(655px){width: 48%;}
                    
                    a {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 150%;
                        color: #344054;
                        border: 1px solid #d0d5dd;
                        border-radius: 8px;
                        padding: 10px;

                        width: 100%;
                        display: inline-block;
                        text-align: center;
                        

                        img{
                            vertical-align: bottom;
                        }
                    }
                
                }

                .call{
                    @include onlylarge(655px){width: 48%;}

                    a {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 150%;
                        color: #fff;
                        border-radius: 8px;
                        padding: 10px;
                        background: #3b82f6;

                        width: 100%;
                        display: inline-block;
                        text-align: center;
                        

                        img{
                            vertical-align: bottom;
                        }
                    }
                }
            }
        }
    }

}

.member-about{
    padding-bottom: 192px;
    padding-top: 48px;
    border-top: 1px solid #eaecf0;
    display: flex;
    justify-content: space-between;

    @include onlylarge(768px){padding-bottom: 96px;}
    @include onlylarge(390px){padding-top: 32px; padding-bottom: 64px;}

    .content{

        .main{
            border-bottom: 1px solid #eaecf0;
        }

        h2, h3{
            font-weight: 600;
            font-size: 32px;
            line-height: 125%;
            letter-spacing: -0.02em;
            color: #101828;
            margin-bottom: 24px;

            @include onlylarge(768px){font-size: 24px; margin-bottom: 20px;}
            @include onlylarge(390px){font-size: 20px; margin-bottom: 16px;}
        }

        h3{
            padding-top: 48px;
        }

        p{
            margin-bottom: 48px;
            font-size: 16px;
            line-height: 150%;
            color: #475467;

            @include onlylarge(768px){font-size: 14px; margin-bottom: 40px;}
            @include onlylarge(390px){margin-bottom: 32px;}
        }

        .contacts-items, .technologies-items{
            display: grid;
            grid-template-columns: 23% 23% 23% 23%;
            column-gap: 2%;
            row-gap: 20px;
            padding-top: 24px;
            padding-bottom: 48px;

            @include onlylarge(768px){grid-template-columns: 31% 31% 31%;
                column-gap: 3%; padding-top: 24px; padding-bottom: 40px;}
            @include onlylarge(390px){grid-template-columns: 49% 49%;
                column-gap: 2%; padding-top: 16px; padding-bottom: 32px;}
            

            h6{
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                color: #182230;

                @include onlylarge(390px){font-size: 14px;}
            }

            p{
                font-size: 14px;
                line-height: 143%;
                color: #98a2b3;
                padding: 0;
            }

            a{
                text-decoration: none;
            }

            img{
                margin-left: 11px;
            }
        }
        .projects{
            padding: 0;

            .projects-items{
                padding-top: 24px;
                padding-bottom: 0;
                display: grid;
                grid-template-columns: 49% 49%;
                column-gap: 2%;
                grid-template-rows: 539px 539px;
                row-gap: 64px;
        
                @include onlylarge(768px){row-gap: 40px; grid-template-rows: auto;}
                @include onlylarge(480px){
                    grid-template-columns: 90%; 
                    justify-content: center; 
                    grid-template-rows: auto; 
                    row-gap: 24px;
                }
        
                img{
                    max-width: 100%;
                }
        
                .btn-type1{
                    padding-top: 24px;
                    padding-bottom: 12px;
                    display: flex;
        
                    .btn1{
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 143%;
                        color: #DC6803;
                        border: 1px solid #FEDF89;
                        border-radius: 16px;
                        padding: 2px 10px;
                        width: 94px;
                        background-color: #fffaeb;
                    }
                    .btn2{
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 143%;
                        color: #079455;
                        margin-left: 8px;
                        margin-right: 8px;
                        border: 1px solid #A9EFC5;
                        border-radius: 16px;
                        padding: 2px 10px;
                        width: 65px;
                        background-color: #ecfdf3;
                    }
                    .btn3{
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 143%;
                        color: #475467;
                        border: 1px solid #EAECF0;
                        border-radius: 16px;
                        padding: 2px 10px;
                        width: 51px;
                        background-color: #f9fafb;
                    }
                }
                .btn-type2{
                    padding-top: 24px;
                    padding-bottom: 12px;
                    display: flex;
        
                    .btn1{
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 143%;
                        color: #306ED4;
                        border: 1px solid #B1CDFB;
                        border-radius: 12px;
                        padding: 2px 10px;
                        width: 54px;
                        background-color: #ebf2fe;
                    }
                    .btn2{
                        margin-left: 8px;
                        margin-right: 8px;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 143%;
                        color: #D92D20;
                        border: 1px solid #FECDC9;
                        border-radius: 16px;
                        padding: 2px 10px;
                        width: 49px;
                        background-color: #fef3f2;
                    }
                    .btn3{
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 143%;
                        color: #079455;
                        border: 1px solid #A9EFC5;
                        border-radius: 16px;
                        padding: 2px 10px;
                        width: 65px;
                        background-color: #ecfdf3;
                    }
                }
                h4{
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 150%;
                    letter-spacing: -0.02em;
                    color: #101828;
                    margin-bottom: 8px;
                    @include onlylarge(768px){font-size: 18px}
                    @include onlylarge(390px){font-size: 16px}
                }
                p{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: #667085;
                    margin: 0;
                    @include onlylarge(768px){font-size: 14px}
                    
                }
            }
            .projects-btn{
                text-align: center;
                cursor: pointer;
                
                a{
                font-weight: 600;
                font-size: 18px;
                line-height: 156%;
        
                span{
                    margin-left: 15px;
                }
            }
            }}
    }
    


    menu{
        margin-left: 72px;
        @include onlylarge(768px){display: none}

        li{
            margin-bottom: 4px;
            width: 208px;
            height: 36px;
            
            a{
                font-weight: 600;
                font-size: 14px;
                line-height: 143%;
                color: #667085;
                text-decoration: none;
                padding-left: 12px;
                padding-top: 8px;
                padding-bottom: 8px;

                &:hover{
                    border-left: 2px solid #3b82f6;
                    color: #3b82f6;
                }
            }

        }
    }
}


