/*container projects*/
.projects {
  padding-top: 192px;
  padding-bottom: 192px;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .projects {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
.projects .projects-description {
  text-align: center;
  width: 592px;
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  .projects .projects-description {
    width: auto;
  }
}
@media only screen and (max-width: 440px) {
  .projects .projects-description {
    text-align: center;
  }
}
.projects .projects-description h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #101828;
}
@media only screen and (max-width: 768px) {
  .projects .projects-description h2 {
    font-size: 32px;
  }
}
.projects .projects-description p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #667085;
  padding-top: 16px;
  padding-bottom: 48px;
}
@media only screen and (max-width: 768px) {
  .projects .projects-description p {
    font-size: 14px;
  }
}
.projects .projects-description .projecs-btn {
  justify-content: center;
  /*eror*/
}
.projects .projects-description .projecs-btn .projects-btn-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: #344054;
}
.projects .projects-items {
  padding-top: 48px;
  padding-bottom: 64px;
  display: grid;
  grid-template-columns: 592px 592px;
  -moz-column-gap: 32px;
       column-gap: 32px;
  grid-template-rows: 614px 614px;
  row-gap: 64px;
}
@media only screen and (max-width: 1290px) {
  .projects .projects-items {
    grid-template-columns: 49% 49%;
    -moz-column-gap: 2%;
         column-gap: 2%;
    row-gap: 2%;
  }
}
@media only screen and (max-width: 768px) {
  .projects .projects-items {
    grid-template-rows: 48% 48%;
    row-gap: 4%;
  }
}
@media only screen and (max-width: 480px) {
  .projects .projects-items {
    grid-template-columns: 90%;
    justify-content: center;
    grid-template-rows: auto;
    row-gap: 24px;
  }
}
.projects .projects-items img {
  max-width: 100%;
}
.projects .projects-items .btn-type1 {
  padding-top: 26px;
  padding-bottom: 14px;
  display: flex;
}
.projects .projects-items .btn-type1 .btn1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #DC6803;
  border: 1px solid #FEDF89;
  border-radius: 16px;
  padding: 2px 10px;
  width: 94px;
  background-color: #fffaeb;
}
.projects .projects-items .btn-type1 .btn2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #079455;
  margin-left: 8px;
  margin-right: 8px;
  border: 1px solid #A9EFC5;
  border-radius: 16px;
  padding: 2px 10px;
  width: 65px;
  background-color: #ecfdf3;
}
.projects .projects-items .btn-type1 .btn3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #475467;
  border: 1px solid #EAECF0;
  border-radius: 16px;
  padding: 2px 10px;
  width: 51px;
  background-color: #f9fafb;
}
.projects .projects-items .btn-type2 {
  padding-top: 26px;
  padding-bottom: 14px;
  display: flex;
}
.projects .projects-items .btn-type2 .btn1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #306ED4;
  border: 1px solid #B1CDFB;
  border-radius: 12px;
  padding: 2px 10px;
  width: 54px;
  background-color: #ebf2fe;
}
.projects .projects-items .btn-type2 .btn2 {
  margin-left: 8px;
  margin-right: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #D92D20;
  border: 1px solid #FECDC9;
  border-radius: 16px;
  padding: 2px 10px;
  width: 49px;
  background-color: #fef3f2;
}
.projects .projects-items .btn-type2 .btn3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #079455;
  border: 1px solid #A9EFC5;
  border-radius: 16px;
  padding: 2px 10px;
  width: 65px;
  background-color: #ecfdf3;
}
.projects .projects-items h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #101828;
}
@media only screen and (max-width: 768px) {
  .projects .projects-items h4 {
    font-size: 18px;
  }
}
.projects .projects-items p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #667085;
}
@media only screen and (max-width: 768px) {
  .projects .projects-items p {
    font-size: 14px;
  }
}
.projects .projects-btn {
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 450px) {
  .projects .projects-btn {
    display: none;
  }
}
.projects .projects-btn a {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
}
.projects .projects-btn a span {
  margin-left: 15px;
}

/*Container technologies*/
.container-technologies {
  background-color: #F9FAFB;
  padding-top: 128px;
  padding-bottom: 128px;
  border-bottom: 1px solid #eaecf0;
  border-top: 1px solid #eaecf0;
}
@media only screen and (max-width: 768px) {
  .container-technologies {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media only screen and (max-width: 390px) {
  .container-technologies {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
.container-technologies .technologies-description {
  width: 592px;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (max-width: 620px) {
  .container-technologies .technologies-description {
    width: auto;
  }
}
@media only screen and (max-width: 450px) {
  .container-technologies .technologies-description .projects-btn {
    display: none;
  }
}
.container-technologies .technologies-description h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #101828;
  margin-bottom: 16px;
}
@media only screen and (max-width: 768px) {
  .container-technologies .technologies-description h2 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 390px) {
  .container-technologies .technologies-description h2 {
    font-size: 24px;
  }
}
.container-technologies .technologies-description p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #667085;
  margin-bottom: 48px;
}
@media only screen and (max-width: 768px) {
  .container-technologies .technologies-description p {
    margin-bottom: 40px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 390px) {
  .container-technologies .technologies-description p {
    margin-bottom: 32px;
  }
}
.container-technologies .technologies-items {
  padding-top: 48px;
  display: grid;
  grid-template-columns: repeat(6, 182px);
  justify-content: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 24px;
}
@media only screen and (max-width: 1390px) {
  .container-technologies .technologies-items {
    grid-template-columns: repeat(6, 15%);
    -moz-column-gap: 2%;
         column-gap: 2%;
  }
}
@media only screen and (max-width: 768px) {
  .container-technologies .technologies-items {
    grid-template-columns: repeat(4, 24%);
    -moz-column-gap: 3%;
         column-gap: 3%;
    padding-top: 40px;
  }
}
@media only screen and (max-width: 390px) {
  .container-technologies .technologies-items {
    grid-template-columns: repeat(3, 32%);
    -moz-column-gap: 2%;
         column-gap: 2%;
    padding-top: 32px;
  }
}
.container-technologies .technologies-items div {
  text-align: center;
  border: 1px solid var(--gray-200);
  border-radius: 10px;
  background-color: #FFFFFF;
}
.container-technologies .technologies-items div img {
  max-width: 100%;
  padding-top: 32px;
  padding-bottom: 20px;
}
.container-technologies .technologies-items div p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #101828;
  padding-bottom: 24px;
}
@media only screen and (max-width: 390px) {
  .container-technologies .technologies-items div p {
    font-size: 12px;
  }
}

/*Container Team*/
.container-team {
  padding-top: 192px;
  padding-bottom: 192px;
  background: url(../images/team-background.png);
}
@media only screen and (max-width: 768px) {
  .container-team {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
.container-team .team-description {
  text-align: center;
}
.container-team .team-description h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #101828;
  padding-bottom: 16px;
}
@media only screen and (max-width: 768px) {
  .container-team .team-description h2 {
    font-size: 32px;
  }
}
.container-team .team-description p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #667085;
}
@media only screen and (max-width: 768px) {
  .container-team .team-description p {
    font-size: 14px;
  }
}
.container-team .team-items {
  padding-top: 48px;
  padding-bottom: 64px;
  display: grid;
  grid-template-columns: repeat(4, 24%);
  -moz-column-gap: 2%;
       column-gap: 2%;
  row-gap: 24px;
}
@media only screen and (max-width: 905px) {
  .container-team .team-items {
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    padding-top: 40px;
  }
}
@media only screen and (max-width: 700px) {
  .container-team .team-items {
    grid-template-columns: 49% 49%;
  }
}
@media only screen and (max-width: 700px) {
  .container-team .team-items {
    grid-template-columns: 100%;
  }
}
.container-team .team-items .team-item1, .container-team .team-items .team-item2, .container-team .team-items .team-item3, .container-team .team-items .team-item4, .container-team .team-items .team-item5, .container-team .team-items .team-item6, .container-team .team-items .team-item7, .container-team .team-items .team-item8 {
  border: 1px solid #eaecf0;
  border-radius: 12px;
  padding: 32px 24px;
  background-color: #fcfcfd;
  text-align: center;
}
.container-team .team-items .team-item1 > img, .container-team .team-items .team-item2 > img, .container-team .team-items .team-item3 > img, .container-team .team-items .team-item4 > img, .container-team .team-items .team-item5 > img, .container-team .team-items .team-item6 > img, .container-team .team-items .team-item7 > img, .container-team .team-items .team-item8 > img {
  margin-bottom: 20px;
}
.container-team .team-items .team-item1 h3, .container-team .team-items .team-item2 h3, .container-team .team-items .team-item3 h3, .container-team .team-items .team-item4 h3, .container-team .team-items .team-item5 h3, .container-team .team-items .team-item6 h3, .container-team .team-items .team-item7 h3, .container-team .team-items .team-item8 h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #101828;
}
@media only screen and (max-width: 768px) {
  .container-team .team-items .team-item1 h3, .container-team .team-items .team-item2 h3, .container-team .team-items .team-item3 h3, .container-team .team-items .team-item4 h3, .container-team .team-items .team-item5 h3, .container-team .team-items .team-item6 h3, .container-team .team-items .team-item7 h3, .container-team .team-items .team-item8 h3 {
    font-size: 18px;
  }
}
.container-team .team-items .team-item1 p, .container-team .team-items .team-item2 p, .container-team .team-items .team-item3 p, .container-team .team-items .team-item4 p, .container-team .team-items .team-item5 p, .container-team .team-items .team-item6 p, .container-team .team-items .team-item7 p, .container-team .team-items .team-item8 p {
  font-size: 16px;
  line-height: 150%;
  color: #667085;
  margin-bottom: 20px;
}
.container-team .team-items .team-item1 a, .container-team .team-items .team-item2 a, .container-team .team-items .team-item3 a, .container-team .team-items .team-item4 a, .container-team .team-items .team-item5 a, .container-team .team-items .team-item6 a, .container-team .team-items .team-item7 a, .container-team .team-items .team-item8 a {
  font-weight: 500;
  font-size: 16px;
  color: #3B82F6;
  text-decoration: none;
}
.container-team .team-items .team-item1 a img, .container-team .team-items .team-item2 a img, .container-team .team-items .team-item3 a img, .container-team .team-items .team-item4 a img, .container-team .team-items .team-item5 a img, .container-team .team-items .team-item6 a img, .container-team .team-items .team-item7 a img, .container-team .team-items .team-item8 a img {
  margin-left: 11px;
}
@media only screen and (max-width: 720px) {
  .container-team .team-items .team-item1 a span, .container-team .team-items .team-item2 a span, .container-team .team-items .team-item3 a span, .container-team .team-items .team-item4 a span, .container-team .team-items .team-item5 a span, .container-team .team-items .team-item6 a span, .container-team .team-items .team-item7 a span, .container-team .team-items .team-item8 a span {
    display: none;
  }
}
.container-team .team-btn {
  text-align: center;
}
.container-team .team-btn span {
  margin-left: 15px;
}

/*Container clients*/
.container-clients {
  border-bottom: 1px solid #eaecf0;
  border-top: 1px solid #eaecf0;
  padding-top: 128px;
  padding-bottom: 128px;
}
@media only screen and (max-width: 768px) {
  .container-clients {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media only screen and (max-width: 390px) {
  .container-clients {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
.container-clients .clients-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-clients .clients-top h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #101828;
}
@media only screen and (max-width: 768px) {
  .container-clients .clients-top h2 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 390px) {
  .container-clients .clients-top h2 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 600px) {
  .container-clients .clients-top .arrows {
    display: none;
  }
}
.container-clients .clients-top .arrows .left {
  margin-right: 12px;
}
.container-clients .clients-items {
  padding-top: 48px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .container-clients .clients-items {
    width: auto;
    overflow-y: scroll;
  }
}
@media only screen and (max-width: 390px) {
  .container-clients .clients-items {
    padding-top: 34px;
  }
}
.container-clients .clients-items .clients-item1, .container-clients .clients-items .clients-item2, .container-clients .clients-items .clients-item3 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 384px;
  background: #fff;
  padding: 32px 24px 52px 24px;
}
@media only screen and (max-width: 768px) {
  .container-clients .clients-items .clients-item1, .container-clients .clients-items .clients-item2, .container-clients .clients-items .clients-item3 {
    margin-right: 24px;
    overflow: visible;
  }
}
.container-clients .clients-items .clients-item1 .client, .container-clients .clients-items .clients-item2 .client, .container-clients .clients-items .clients-item3 .client {
  display: flex;
  align-items: center;
}
.container-clients .clients-items .clients-item1 .client div, .container-clients .clients-items .clients-item2 .client div, .container-clients .clients-items .clients-item3 .client div {
  margin-left: 16px;
}
.container-clients .clients-items .clients-item1 .client div h3, .container-clients .clients-items .clients-item2 .client div h3, .container-clients .clients-items .clients-item3 .client div h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #0c111d;
}
.container-clients .clients-items .clients-item1 .client div p, .container-clients .clients-items .clients-item2 .client div p, .container-clients .clients-items .clients-item3 .client div p {
  font-size: 14px;
  line-height: 143%;
  color: #667085;
}
.container-clients .clients-items .clients-item1 .review, .container-clients .clients-items .clients-item2 .review, .container-clients .clients-items .clients-item3 .review {
  padding-top: 32px;
}
.container-clients .clients-items .clients-item1 .review p, .container-clients .clients-items .clients-item2 .review p, .container-clients .clients-items .clients-item3 .review p {
  padding-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #667085;
}

/*Contact Us*/
.contact-us {
  padding-top: 192px;
  padding-bottom: 192px;
  display: grid;
  grid-template-columns: 49% 49%;
  -moz-column-gap: 2%;
       column-gap: 2%;
}
@media only screen and (max-width: 768px) {
  .contact-us {
    padding-top: 96px;
    padding-bottom: 96px;
    grid-template-columns: 100%;
  }
}
@media only screen and (max-width: 390px) {
  .contact-us {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media only screen and (max-width: 768px) {
  .contact-us .contacts {
    margin-bottom: 40px;
  }
}
.contact-us .contacts h2 {
  padding-top: 32px;
  padding-bottom: 16px;
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #101828;
}
@media only screen and (max-width: 768px) {
  .contact-us .contacts h2 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 390px) {
  .contact-us .contacts h2 {
    font-size: 24px;
  }
}
.contact-us .contacts p {
  font-size: 16px;
  line-height: 150%;
  color: #667085;
  padding-bottom: 48px;
}
@media only screen and (max-width: 390px) {
  .contact-us .contacts p {
    font-size: 14px;
  }
}
.contact-us .contacts a {
  font-size: 16px;
  line-height: 150%;
  color: #101828;
  margin-bottom: 24px;
  display: inline-block;
  width: 100%;
  height: 24px;
  text-decoration: none;
}
@media only screen and (max-width: 390px) {
  .contact-us .contacts a {
    font-size: 14px;
  }
}
.contact-us .contacts a img {
  margin-right: 19px;
}
.contact-us .contacts .social-links {
  margin-top: 24px;
}
@media only screen and (max-width: 768px) {
  .contact-us .contacts .social-links {
    display: none;
  }
}
.contact-us form {
  border: 1px solid #eaecf0;
  border-radius: 16px;
  background: #f9fafb;
  padding: 32px;
}
.contact-us form input {
  width: 100%;
}
.contact-us form textarea {
  width: 100%;
  height: 120px;
}
.contact-us form .name {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 390px) {
  .contact-us form .name {
    display: block;
  }
}
.contact-us form .name div {
  width: 47%;
}
@media only screen and (max-width: 390px) {
  .contact-us form .name div {
    width: 100%;
  }
}
.contact-us form p {
  margin-bottom: 8px;
  margin-top: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #101828;
}
.contact-us form .form-btn {
  margin-top: 24px;
}
.contact-us form .form-btn button {
  width: 100%;
}

/*Footer*/
footer {
  border-top: 1px solid #eaecf0;
  background: #f9fafb;
  padding-top: 96px;
  padding-bottom: 96px;
}
@media only screen and (max-width: 768px) {
  footer {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media only screen and (max-width: 390px) {
  footer {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
footer nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
  align-items: center;
}
@media only screen and (max-width: 575px) {
  footer nav {
    align-items: normal;
  }
}
footer nav ul {
  display: flex;
  flex-wrap: wrap;
}
footer nav ul li {
  margin-right: 24px;
}
footer nav ul li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #344054;
  text-decoration: none;
}
footer nav .btn {
  border-radius: 8px;
  padding: 8px;
  background-color: #3B82F6;
  color: #fff;
}
footer nav .btn:hover {
  border: solid 1px black;
}
footer img {
  max-width: 100%;
}
footer .footer-info {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  align-items: center;
  flex-wrap: wrap;
}
footer .footer-info p {
  font-size: 14px;
  line-height: 143%;
  color: #667085;
}
@media only screen and (max-width: 436px) {
  footer .footer-info p {
    padding-top: 24px;
  }
}/*# sourceMappingURL=main.css.map */